<nav class="navbar">
  <ul>
    <li><a href="{% url 'tools:index' %}">Home</a></li>
    {% if request.user.is_authenticated %}
    <li><a href="{% url 'tools:user_tool_list' request.user.id %}">My Tools</a></li>
    {% endif %}

    <li><a href="{% url 'tools:tool_list' %}">Browse Tools</a></li>



      {% if request.user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Logout</a></li>
      {% else %}
        <li><a href="{% url 'login' %}">Login</a></li>
      {% endif %}


  </ul>
</nav>
