{% extends 'tools/base.html'%}



{% block content %}
  <h1 class="d-flex justify-content-center mt-4">Tool List</h1>
  <div class="d-flex flex-wrap justify-content-center">
    {% for tool in object_list %}
    <div class="tool-container col-sm-6 col-lg-3">
        <div class="tool-name">{{tool.name}}</div>
        <div class="tool-img"><img src="{{tool.picture}}" alt=""></div>
      <div class="row no-gutters mt-3">
        <div class="col-9">
        <span class="row no-gutters">Rental: ${{tool.price}}</span>
        <span class="neighbor"><a href="#">Neighbor: {{tool.neighbor}}</a></span>
        </div>
        <div class="col-3">

        <button class="btn btn-success">RENT</button>
          {% if tool.neighbor == request.user %}
          <a class="btn" href="{% url 'tools:edit_tool' tool.id %}">Edit</a>
          <a class="btn" href="{% url 'tools:delete_tool' tool.id %}">Delete</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>


      <div class="d-flex justify-content-end mr-5 mb-5">
      <a class="btn btn-primary" href="{% url 'tools:tool_create' %}">Add Tool</a>
      </div>
{% endblock content %}
